<div>
  <h1>{{institution.name}}</h1>
  <h1>{{institution.events}}</h1>
  <img ng-src="{{institution.picUrl}}" alt="">
  <div ng-repeat="alumni in institutionAlumni">
    {{alumni.fullName}}
  </div>
</div>
