<div class="container">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <label for="searchBar">Search For Institutions</label>
      <input ng-model="searchText" id="searchBar" type="text">
      <div ng-repeat="institution in institutions | filter: searchText" class="boxWrapper">
        <div class="col-sm-4">
          <div class="institutionbox" ng-click="showOneInstitute()">
            <div class="institutedisplay"><img ng-src="{{institution.picUrl}}"></div>
            <div class="blurb">
              <h2>Institution: {{institution.name}}</h2>
              <h4>{{tag}}Coding Bootcamp</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
