<div class="container-fluid">
  <button type="button" class="btn btn-primary" id="addEventButton" data-toggle="modal" data-target="#myModal">Add Event</button>
  <div class="col-md-12">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="banner">
            <div class="cover">
              <img align="center" src="http://static1.squarespace.com/static/5516fbf5e4b0392be7217137/t/5521c433e4b0d8eff632ea41/1428276298960/Miami_Background_Photo.png?format=2500w" alt="Banner">
            </div>
          </div>
          <div class="row" id="nomenclature">
            <h1>{{institution.name}}</h1>
            <div>
              <button class="hideButton" ng-click="leaveInstitution()">Leave Institution</button>
            </span>
            <h2>
            </div>
            <button ng-click="showInstitutionEdit()">Edit</button>

          </div>



          <div class="joinContainer">
            <div class="row">
              <div class="col-md-4 col-md-offset-1">
                <div id="bio">
                  <header class="boxHeader">
                    <p>Bio</p>
                  </header>
                  <hr>
                  <p>{{institution.bio}}</p>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <div id="ButtonArea">
                  <div class="socialMedia">
                    <div class="joinButton eventButton">
                      <button ng-hide="showJoinForm" ng-click="joinInstitutionOpen()" class="btn btn-primary" id="joinButton">Join!</button>
                      <button type="button" class="hideButton btn btn-primary" id="addEventButton" data-toggle="modal" data-target="#myModal">Add Event</button>

                      <form ng-show="showJoinForm" ng-submit="joinInstitution(user)" role="form">
                        <div class="form-group">
                          <label for="dateGraduated" class="col-lg-2 col-lg-offset-1 control-label">Graduation Date</label>
                          <div class="col-lg-7">
                            <input type="date" name="dateGraduated" ng-model="user.institution.dateGraduated" id="dateGraduated" class="form-control" />
                          </div>
                          <button ng-click="showJoinForm=false" type="submit" class="btn btn-default">Submit</button>
                          <button ng-click="showJoinForm=false" type="button" class="btn btn-danger">cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="alumniList">
              <h2>Alumni Members</h2>
              <hr>
              <div ng-repeat="alumni in institutionAlumni">
                <h3 ng-click="showOneUser()" class="toProfile">{{alumni.fullName}}</h3>
              </div>
            </div>

          </div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" role="form" action="/events/new" method="POST">
          <fieldset>
            <legend>Add Event</legend>
            <div class="form-group">
              <label for="name" class="col-lg-4 control-label">Event Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="name" name="name">
              </div>
            </div>
            <div class="form-group">
              <label for="picUrl" class="col-lg-4 control-label">Picture URL</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="picUrl" name="picUrl" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="price" class="col-lg-4 control-label">Price</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="price" name="price" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="when" class="col-lg-4 control-label">Date</label>
              <div class="col-lg-8">
                <input type="date" class="form-control" id="when" name="when" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-lg-4 control-label">Description</label>
              <div class="col-lg-8">
                <textarea class="form-control" rows="3" id="description" name="description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-8 col-lg-offset-4">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-sm-12">
        <h2>Events</h2>
        <ul ng-repeat="event in events" class="eventBox">
          <li>{{event.name}}</li>
          <li>{{event.price}}</li>
          <li>{{event.when | date:'MMM d, y'}}</li>
        </ul>
      </div>
    </div>
