<div class="container">
  <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div ng-repeat="institution in institutions">
          <div class="col-sm-4">
            <div class="institutionbox" ng-click="showOneInstitute()">
              <div class="institutedisplay"><img ng-src="{{institution.picUrl}}"></div>
              <h2>Institution: {{institution.name}}</h2>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
