  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form ng-submit="login(user)">
          <fieldset>
            <div class="col-lg-10 col-lg-offset-2">
              <legend>Login</legend>
            </div>
            <div class="form-group">
              <label for="username" class="col-lg-2 col-lg-offset-1 control-label">Username</label>
              <div class="col-lg-7">
                <input type="text" ng-model="user.username" id="username" placeholder="Enter Username" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-2 col-lg-offset-1 control-label">Password</label>
              <div class="col-lg-7">
                <input type="password" ng-model="user.password" placeholder="Password" id="password" class="form-control"/>
              </div>
            </div>
            <div class="col-lg-9 col-lg-offset-3">
              <p class="error">{{error}}</p>
            </div>
            <div class="col-lg-7 col-lg-offset-8">
              <button ng-click="login(user)" class="btn btn-default">Submit</button>&nbsp;
              <a ui-sref="/"><button type="button" class="btn btn-primary">Cancel</button></a>
            </div>
          </form>
        </fieldset>
        <hr>
        <div><span>Need To Sign Up? </span><a ui-sref="register">Register</a></div>
      </form>
    </div>
  </div>
  </div>
