<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <div class="profilePic">
          <img src="http://www.placehold.it/200x200" alt="">
        </div>
      </div>
      <div class="col-sm-9">
        <div class="col-sm-6 col-sm-offset-1">
          <br>
          <br>
          <h1>{{user.fullName}}</h1>
          <h2>({{currentUser}})</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <h2>Contact Info</h2>
        <h4>Email: {{user.email}}</h4>
        <h4>Phone: 201-213-0126</h4>
        <h4>City/State: Fremont, California</h4>
        <h4>Employer: Coding House</h4>
      </div>
      <div class="col-sm-4">
        block of stuff
      </div>
      <div class="col-sm-4">
        <div class="icons">
          <div class="col-sm-3 iconthingone iconpadding"></div>
          <div class="col-sm-3 iconthingtwo iconpadding"></div>
          <div class="col-sm-3 iconthingthree iconpadding"></div>
          <div class="col-sm-3 iconthingfour iconpadding"></div>
        </div>
      </div>
    </div>
  </div>
</div>
