<!-- <div class="container">
<h1>Register Page</h1>
<p class="lead">Say something worthwhile here.</p><br/> -->
<!-- <form role="form" action="/register" method="post" style="max-width: 300px;">
<div class="form-group">
<input type="text" name="username" placeholder="Enter Username" class="form-control"/>
</div> -->
<!-- <div class="form-group">
<input type="email" name="email" placeholder="Enter Email" class="form-control"/>
</div> -->
<!-- <div class="form-group">
<input type="text" name="institution" placeholder="Enter Institution Name" class="form-control"/>
<input type="date" name="dateGraduated" placeholder="Enter Institution Graduation Date" class="form-control"/>
</div>
<div class="form-group">
<input type="password" name="password" placeholder="Password" class="form-control"/>
</div>
<button type="submit" class="btn btn-default">Submit</button>&nbsp;
<a ui-sref="/"><button type="button" class="btn btn-primary">Cancel</button></a>
</form>
<hr>
<div><span>Already Signed Up? </span><a ui-sref="login">Login</a></div>
</div> -->




<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form role="form" action="/register" method="post">
        <fieldset>
          <div class="col-lg-10 col-lg-offset-2">
            <legend>Registration</legend>
          </div>
          <div class="form-group">
            <label for="username" class="col-lg-2 col-lg-offset-1 control-label">Username</label>
            <div class="col-lg-7">
              <input type="text" id="username" name="username" placeholder="Enter Username" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="fullName" class="col-lg-2 col-lg-offset-1 control-label">Full Name</label>
            <div class="col-lg-7">
              <input type="text" id="fullName" name="fullName" placeholder="Enter Full Name" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-lg-2 col-lg-offset-1 control-label">Email</label>
            <div class="col-lg-7">
              <input type="email" name="email" placeholder="Enter Email" id="email" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-lg-2 col-lg-offset-1 control-label">Password</label>
            <div class="col-lg-7">
              <input type="password" name="password" placeholder="Password" id="password" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="institution" class="col-lg-2 col-lg-offset-1 control-label">Institution</label>
            <div class="col-lg-7">
              <input type="text" name="institution" placeholder="Enter Institution Name" id="institution" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="dateGraduated" class="col-lg-2 col-lg-offset-1 control-label">Graduation Date</label>
            <div class="col-lg-7">
              <input type="date" name="dateGraduated" id="dateGraduated" class="form-control"/>
            </div>
          </div>
          <br>
          <br>
          <div class="col-lg-4 col-lg-offset-8">
            <button type="submit" class="btn btn-default">Submit</button>&nbsp;
            <a ui-sref="/"><button type="button" class="btn btn-primary">Cancel</button></a>
          </div>
        </form>
      </fieldset>
      <hr>
      <div><span>Already Signed Up? </span><a ui-sref="login">Login</a></div>
    </form>
  </div>
</div>
</div>
