This page's display should just be a list of information. Not styled like the page, sorry.


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <div class="profilePic">
          <img src="http://www.placehold.it/200x200" alt="">
        </div>
      </div>
      <div class="col-sm-9">
        <div class="col-sm-6 col-sm-offset-1">
          <br>
          <br>
          <h1>{{user.fullName}}</h1>
          <h2>({{currentUser}})</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <h2>Contact Info</h2>
        <h4>Email: {{user.email}}</h4>
        <h4>Phone: 201-213-0126</h4>
        <h4>City/State: Fremont, California</h4>
        <h4>Employer: Coding House</h4>
      </div>
      <div class="col-sm-4">
        block of stuff
      </div>
      <div class="col-sm-4">
        <div class="icons">
          <div class="col-sm-3 iconthingone iconpadding">
            <img class="iconthing" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png" alt="" />
          </div>
          <div class="col-sm-3 iconthingtwo iconpadding">
            <img class="iconthing" src="http://uxrepo.com/static/icon-sets/zocial/svg/github-circled.svg" alt="" />
          </div>
          <div class="col-sm-3 iconthingthree iconpadding">
            <img class="iconthing" src="http://icons.iconarchive.com/icons/martz90/circle/512/linkedin-icon.png" alt="" />
          </div>
          <div class="col-sm-3 iconthingfour iconpadding">
            <img class="iconthing" src="http://blogs.longwood.edu/ecoapril2015/files/2015/04/Twitter-Button.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
