<!DOCTYPE html>
<html>

  <head>
    <title>Class App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css">
    <!-- sweet alerts -->
    <link rel='stylesheet' href='/stylesheets/sweetalert-master/dist/sweetalert.css' />
    <!-- project css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- start Mixpanel -->
    <script type="text/javascript">
      (function(e, b) {
        if (!b.__SV) {
          var a, f, i, g;
          window.mixpanel = b;
          b._i = [];
          b.init = function(a, e, d) {
            function f(b, h) {
              var a = h.split(".");
              2 == a.length && (b = b[a[0]], h = a[1]);
              b[h] = function() {
                b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
              }
            }
            var c = b;
            "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
            c.people = c.people || [];
            c.toString = function(b) {
              var a = "mixpanel";
              "mixpanel" !== d && (a += "." + d);
              b || (a += " (stub)");
              return a
            };
            c.people.toString = function() {
              return c.toString(1) + ".people (stub)"
            };
            i =
              "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user"
              .split(" ");
            for (g = 0; g < i.length; g++) f(c, i[g]);
            b._i.push([a, e, d])
          };
          b.__SV = 1.2;
          a = e.createElement("script");
          a.type = "text/javascript";
          a.async = !0;
          a.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" :
            "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
          f = e.getElementsByTagName("script")[0];
          f.parentNode.insertBefore(a, f)
        }
      })(document, window.mixpanel || []);
      mixpanel.init("3ba1ea07986133e97ea2233f15f940cb");

    </script>
    <!-- end Mixpanel -->
  </head>

  <body ng-app="mainApp">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ui-sref="/" class="navbar-brand" href="#">Recon</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
              <li><a ui-sref="institutions">Institutions</a></li>
              <% if (user.unreadMessages === true) { %>
                <li><a ui-sref="mymail" class="unread-true">My Mail</a></li>
                <% } else { %>
                  <li><a ui-sref="mymail">My Mail</a></li>
                  <% } %>
                    <% } else { %>
                      <% } %>
                        <% if (user) { %>
                          <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <%= user.fullName %>&nbsp;
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a ui-sref="profile">Profile</a></li>
                              <li><a ui-sref="settings">Settings</a></li>
                              <li class="divider"></li>
                              <li><a href='/logout'>Logout <span class="glyphicon glyphicon-log-in"></span></a></li>
                            </ul>
                          </li>

                          <% } else { %>
                            <li><a ui-sref="login">Login</a></li>
                            <li><a ui-sref="register">Register</a></li>
                            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div ui-view></div>

    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="/stylesheets/sweetalert-master/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="ng-file-upload-shim.min.js"></script>
    <!-- for no html5 browsers support -->
    <script src="ng-file-upload.min.js"></script>

    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/controllers/controller.js"></script>
    <script src="/javascripts/controllers/editCtrl.js"></script>
    <script src="/javascripts/controllers/oneInstitutionCtrl.js"></script>
    <script src="/javascripts/controllers/oneUserCtrl.js"></script>
    <script src="/javascripts/controllers/editinstitution.js"></script>
    <script src="/javascripts/controllers/mailCtrl.js"></script>
  </body>

</html>
