body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  margin-top: 1%;
}

.profilePic {
  margin-left: 0px;
  margin-top: 20px;
}

.iconthingone {
  width: 50px;
  height: 50px;
}

.iconthing {
  width: 50px;
  height: 50px;
}

.iconthingtwo {
  width: 50px;
  height: 50px;
}
.iconthingthree {
  width: 50px;
  height: 50px;
}
.iconthingfour {
  width: 50px;
  height: 50px;
}

.iconpadding {
  margin-left: 10px;
}

.icons {
  float: right;
}

.right-border {
  border-right: 1px black solid;
}

.institutionbox {
  border: 3px solid black;
}

.institutionbox .institutedisplay {
  text-align: center;
  border-bottom: 2px black solid;
}
.institutionbox h2 {
  text-align: center;
}
